default interface {{ port_name }}
interface {{ port_name }}
{% if port_description %}
description {{ port_description }}
{% endif %}
switchport
switchport mode trunk
{% if vlan_id %}
switchport trunk native vlan {{ vlan_id }}
{% endif %}
switchport trunk allowed vlan {{ trunked_vlans | join(",") }}
no shutdown
