default interface {{ port_name }}
interface {{ port_name }}
{% if port_description %}
description {{ port_description }}
{% endif %}
switchport
switchport mode access
switchport access vlan {{ vlan_id }}
no shutdown
